@import "../../assets/css/base.scss";

.button {
  // display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 8px 20px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: $primary-color;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  &:hover {
    background-color: $primary-hover-color;
  }
  &.primary {
    background-color: $primary-color;
  }
  &.primary:hover {
    background-color: $primary-hover-color;
  }

  &.success {
    background-color: $success-color;
  }
  &.success:hover {
    background-color: $success-hover-color;
  }

  &.error {
    background-color: $error-color;
  }
  &.error:hover {
    background-color: $error-hover-color;
  }

  &.warning {
    background-color: $warning-color;
  }
  &.warning:hover {
    background-color: $warning-hover-color;
  }

  &.red {
    background-color: $red-color;
  }
  &.red:hover {
    background-color: $red-hover-color;
  }

  &.dark {
    background-color: $dark-color;
  }
  &.dark:hover {
    background-color: $dark-hover-color;
  }

  &.light {
    border: 1px solid $primary-color;
    background-color: $white-color;
    color: $primary-color;
  }
  &.light:hover {
    background-color: $white-hover-color;
  }

  // Size
  &.sm {
    padding: 4px 10px;
    font-size: 0.8rem;
  }

  &.md {
    padding: 8px 20px;
  }

  &.lg {
    padding: 14px 32px;
  }

  & + & {
    margin-left: 12px;
  }
}
