@import "../../assets/css/base.scss";
table {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  border-collapse: collapse;
}

table thead {
  background-color: $primary-color;
  color: $white-color;
}

table thead tr th {
  min-width: 60px;
  padding: 8px 0px;
  text-wrap: wrap;
  border: 1px solid #ddd;
}
table tbody tr td {
  padding: 4px 0px;
  border: 1px solid #ddd;
}

table tbody tr:hover {
  background-color: #eaeaea;
  transition: all 0.3s ease-in;
}

.table-container {
  width: 100% !important;
  overflow-x: scroll !important;
}

.pagination-table {
  width: 100% !important;
  box-sizing: border-box !important;
}
