@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-size: 15px;
    max-width: 1900px;
}